<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Accueil</title>
</head>
<body>
  <h1>Bienvenue sur ta plateforme</h1>
  {% if session.get('user') %}
    <p>Connecté !</p>
    <a href="{{ url_for('profile') }}">Mon profil</a> |
    <a href="{{ url_for('classement') }}">Classement</a> |
    <a href="{{ url_for('submit_performance') }}">Soumettre une performance</a> |
    <a href="{{ url_for('logout') }}">Se déconnecter</a>
  {% else %}
    <a href="{{ url_for('login') }}">Se connecter</a> | 
    <a href="{{ url_for('register') }}">S'inscrire</a>
  {% endif %}
</body>
</html>
